
<div class="page-container">
    <div class="new-pw">

        <div class="sentence">
            <h2><b>Upload Products</b></h2>

            <h4>Products can be uploaded in CSV.</h4>
        </div>

        <div class="fields">
            
            <p>Click to upload or drag and drop</p>
            <p>CSV</p>
            <div style="display: flex;justify-content: center;">

           <input type="file" (change)="onFileSelected($event)" accept=".CSV">


            </div>
           <mat-list>
             <mat-list-item *ngFor="let file of files">{{file.name}}</mat-list-item>
           </mat-list>
           
        </div>

    </div>

    <div class="btn">

        <button mat-raised-button color="secondary"  style="width: 100%;" (click)="cancel()">Cancel</button>
    
    
        <button mat-raised-button color="secondary"  style="width: 100%;" (click)="uploadFiles()">Attach file</button>

    </div>
</div>